In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Hive tables").enableHiveSupport().getOrCreate()

In [3]:
spark

#### 1.Create PySpark dataframes and read data from the two Hive tables.

In [4]:
course_details_df=spark.read.table("deepakdb.course_details_partitioned")

In [5]:
course_completion_df=spark.read.table("deepakdb.coursecompletion")

In [6]:
course_details_df

+--------+--------------------+--------------------+----------+--------------------+
|courseid|               title|          competency|complexity|          coursetype|
+--------+--------------------+--------------------+----------+--------------------+
|   C0001|Certificate in Cl...|           Technical|     Basic|               Cloud|
|   C0002|Certificate in Vi...|           Technical|     Basic|               Cloud|
|   C0003|"Diploma in Infor...| Networking and C...|  Security|               Cloud|
|   C0004|BE (Hons) in CSE ...|              Domain|  Advanced|               Cloud|
|   C0005|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0006|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0007|BCA with Microsof...|            Security|  Advanced|               Cloud|
|   C0008|BTech in Informat...|           Technical|  Advanced|               Cloud|
|   C0009|MCA with speciali...|           Technical|  Advanced|               Cloud|
|   C0010|ME in Cloud Compu...|           Technical|     Basic|               Cloud|
|   C0011|MTech Computer Sc...|           Technical|     Basic|               Cloud|
|   C0012|Bachelor’s in Com...|              Domain|     Basic|Hardware and Netw...|
|   C0013|B.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0014|BTech in IT and N...|              Domain|     Basic|Hardware and Netw...|
|   C0015|BS in Hardware an...|              Domain|     Basic|Hardware and Netw...|
|   C0016|BSc in Networking...|              Domain|     Basic|Hardware and Netw...|
|   C0017|M.Tech in Network...|              Domain|  Advanced|Hardware and Netw...|
|   C0018|M.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0019|MSc in Wireless N...|              Domain|  Advanced|Hardware and Netw...|
|   C0020|Diploma in Comput...|              Domain|  Advanced|Hardware and Netw...|
+--------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [7]:
course_completion_df

+---------+--------+----------+--------------+-----+-------------+
|studentid|courseid|  examdate|attendedstatus|marks|       result|
+---------+--------+----------+--------------+-----+-------------+
|    S0151|   C0010|2019-02-26|        Absent|    0|Not Qualified|
|    S0300|   C0010|2019-02-26|        Absent|    0|Not Qualified|
|    S0264|   C0006|2019-02-22|        Absent|    0|Not Qualified|
|    S0148|   C0007|2019-02-23|        Absent|    0|Not Qualified|
|    S0147|   C0006|2019-02-22|        Absent|    0|Not Qualified|
|    S0146|   C0005|2019-02-21|        Absent|    0|Not Qualified|
|    S0084|   C0015|2019-03-03|        Absent|    0|Not Qualified|
|    S0263|   C0005|2019-02-21|        Absent|    0|Not Qualified|
|    S0143|   C0002|2019-02-18|        Absent|    0|Not Qualified|
|    S0023|   C0023|2019-02-28|        Absent|    0|Not Qualified|
|    S0141|   C0017|2019-03-05|        Absent|    0|Not Qualified|
|    S0140|   C0016|2019-03-04|        Absent|    0|Not Qualified|
|    S0139|   C0015|2019-03-03|        Absent|    0|Not Qualified|
|    S0138|   C0014|2019-03-02|        Absent|    0|Not Qualified|
|    S0085|   C0016|2019-03-04|        Absent|    0|Not Qualified|
|    S0136|   C0017|2019-03-05|        Absent|    0|Not Qualified|
|    S0135|   C0016|2019-03-04|        Absent|    0|Not Qualified|
|    S0134|   C0015|2019-03-03|        Absent|    0|Not Qualified|
|    S0133|   C0014|2019-03-02|        Absent|    0|Not Qualified|
|    S0086|   C0017|2019-03-05|        Absent|    0|Not Qualified|
+---------+--------+----------+--------------+-----+-------------+
only showing top 20 rows

#### 2.	Find the following using the PySpark dataframes -

In [8]:
# a. Find the total number of students per result category
course_completion_df.groupby('result').count().show()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [9]:
# b. Find the total number of students absent
course_completion_df[course_completion_df['attendedstatus']=='Absent'].count()

149

In [10]:
course_completion_df.describe()

+-------+---------+--------+--------------+------------------+-------------+
|summary|studentid|courseid|attendedstatus|             marks|       result|
+-------+---------+--------+--------------+------------------+-------------+
|  count|      300|     300|           300|               300|          300|
|   mean|     null|    null|          null|40.013333333333335|         null|
| stddev|     null|    null|          null| 40.34400349016283|         null|
|    min|    S0001|   C0001|        Absent|                 0|Not Qualified|
|    max|    S0300|   C0030|      Attended|                92|    Qualified|
+-------+---------+--------+--------------+------------------+-------------+

In [12]:
# c.Find the maximum, minimum and average marks scored by students
course_completion_df.agg({'marks':'max'}).show()
course_completion_df.agg({'marks':'min'}).show()
course_completion_df.agg({'marks':'avg'}).show()

+----------+
|max(marks)|
+----------+
|        92|
+----------+

+----------+
|min(marks)|
+----------+
|         0|
+----------+

+------------------+
|        avg(marks)|
+------------------+
|40.013333333333335|
+------------------+